{% extends "base_client.html" %}

{% block content %}
<p><h2>Билеты</h2><p>
    <table border="">
        <tr>
            <td><b>№</b></td>
            <td><b>Рейс</b></td>
            <td><b>Ряд</b></td>
            <td><b>Место</b></td>
            <td><b>Дата и время отправления</b></td>
            <td><b>Дата и время прибытия</b></td>
            <td><b>Цена</b></td>
            <td><b>Статус рейса</b></td>
        </tr>
        {% for t in tickets.all() %}
        <tr>
            {% set flight = fs.filter(ff.id == t.flight_id).first() %}
            <td>{{ t.id }}</td>
            <td>{{ airports[flight.dept_airport_id-1].city }}, {{ airports[flight.dept_airport_id-1].name }} —
                {{ airports[flight.dest_airport_id-1].city }}, {{ airports[flight.dest_airport_id-1].name }}</td>
            <td>{{ t.row_num }}</td>
            <td>{{ t.column_num }}</td>
            <td>{{ ':'.join(flight.dept_datetime.__str__().split(':')[:-1]) }}</td>
            <td>{{ ':'.join(flight.dest_datetime.__str__().split(':')[:-1]) }}</td>
            <td>{{ flight.price }}</td>
            <td>{{ statuses[flight.status_id - 1].name }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}