{% extends "base_client.html" %}

{% block content %}
<p><h2>Рейсы</h2><p>
    <table border="">
        <tr>
            <td><b>№</b></td>
            <td><b>Рейс</b></td>
            <td><b>Количество рядов</b></td>
            <td><b>Количество мест</b></td>
            <td><b>Дата и время отправления</b></td>
            <td><b>Дата и время прибытия</b></td>
            <td><b>Цена билета</b></td>
            <td><b>Статус</b></td>
        </tr>
        {% for flight, plane, status in table.all() %}
        <tr>
            {% set i = loop.index0 %}
            <td>{{ flight.id }}</td>
            <td>{{ dept_airports[i].city }}, {{ dept_airports[i].name }} —
                {{ dest_airports[i].city }}, {{ dest_airports[i].name }}</td>
            <td>{{ plane.rows_num }}</td>
            <td>{{ plane.columns_num }}</td>
            <td>{{ ':'.join(flight.dept_datetime.__str__().split(':')[:-1]) }}</td>
            <td>{{ ':'.join(flight.dest_datetime.__str__().split(':')[:-1]) }}</td>
            <td>{{ flight.price }}</td>
            <td>{{ status.name }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}