{% extends "base_client.html" %}

{% block title %}Вернуть билет{% endblock %}
{% block content %}
<form method="post">
    <h2>Возврат билета</h2>
    <a href="/manager/flights">Все рейсы</a>
    <div>
        {{ form.csrf_token() }}
        {{ form.flight_id.label }}<br>
        {{ form.flight_id(class="form-control") }}<br>
        {{ form.row.label }}<br>
        {{ form.row(class="form-control") }}<br>
        {{ form.column.label }}<br>
        {{ form.column(class="form-control") }}<br>
        {{ form.submit(type="submit", class="btn btn-primary") }}
    </div>
</form>
{% endblock %}