{% extends "base.html" %}

{% block title %}Вход{% endblock %}
{% block content %}
<form method="post">
    <h2>Вход</h2>
    <p><a href="/registration">Зарегистрироваться</a></p>
    <div>
        {{ form.csrf_token() }}
        {{ form.email.label }}<br>
        {{ form.email(class="form-control", type="email") }}<br>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control", type="password", id="pass") }}<br>
        {{ form.submit(type="submit", class="btn btn-primary") }}
    </div>
</form>
{% endblock %}