{% extends "base.html" %}

{% block content %}
{{ form.hidden_tag() }}
<form action="" method="post" novalidate>
    <h2>Регистрация</h2>
    <p><a href="/login">Войти</a> в систему</p>
    <div>
        {{ form.username.label }}<br>
        {{ form.username(class="form-control") }}<br>
        {{ form.email.label }}<br>
        {{ form.email(class="form-control", type="email") }}<br>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control", type="password") }}<br>
        {{ form.password2.label }}<br>
        {{ form.password(class="form-control", type="password2") }}<br>
        {{ form.client_type }}
        {{ form.submit }}
    </div>
</form>
{% endblock %}